<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.emergetools.relaxexamples" />
        <package android:name="org.joinmastodon.android" />
        <package android:name="org.wikipedia" />
        <package android:name="com.android.vending" />
    </queries>
</manifest>